In [2]:
1 + 1

2

In [3]:
display("f")

display("f")

'f'

'f'

In [4]:
import pandas as pd

In [5]:
pd.options.display.html.table_schema = True
pd.options.display.max_rows = None

In [13]:
pd.DataFrame({"hi": [1, 2, 4]})

   hi
0   1
1   2
2   4